{{ define "main" }}
<header>
    <div class="container">
        <h1>{{.Site.Title}}</h1>
        {{if (isset .Site.Params "description")}}
            <p>{{.Site.Params.Description}}</p>
            <p>Slides</p>
        {{end}}
    </div>
</header>
<section id="content">
    {{ range .Site.Sections }}
    <div class="container">
    {{- partial "index/list.html" . -}}
        {{ range .Sections }}
        {{- partial "index/list.html" . -}}
        {{ end }}
    </div>
    {{ end }}
</section>
{{ end }}
